$primary-brand-color: #282c34;
$secondary-brand-color: #191F2B;
$tertiary-brand-color: #626977;

// Feedback colors
$feedback-success-color: #00D379;
$feddback-error-color: #FF5D5D;
$feedback-alert-color: #FFD400;

// Marvel variables
$marvel-gallery-color: #40424a;
$marvel-heart-icon-size: 12px;
$marvel-heart-icon-alignment: -7px;
$marvel-heart-active-color: #FB6376;

// Neutral colors
$white-color: #ffffff;
$black-color: #000000;