.marvel-card-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 62px;
    @media screen and (min-width: 576px) {
        & {
            width: 44%;
            margin: 0 16px 62px 16px;
        }
    }
    @media screen and (min-width: 1024px) {
        & {
            width: 28%;
            margin: 0 24px 62px 24px;
        }
    }
    @media screen and (min-width: 1366px) {
        & {
            width: 30%;
            margin: 0 16px 62px 16px;
        }
    }
    &__card-container {
        width: 100%;
        border: 8px solid $primary-brand-color;
        background-color: $primary-brand-color;
    }
    &__heart-name-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__info-container {
        padding: 16px;
        transition: all ease-in-out 0.3s;
    }
    &__heart {
        width: $marvel-heart-icon-size;
        height: $marvel-heart-icon-size;
        background-color: #fff;
        position: relative;
        transform: rotate(45deg);
        cursor: pointer;
        transition: all ease-in-out 0.1s;
        &.active {
            background-color: $marvel-heart-active-color;
        }
        &.active::before,
        &.active::after {
            background-color: $marvel-heart-active-color;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: $marvel-heart-icon-size;
            height: $marvel-heart-icon-size;
            background-color: $white-color;
            border-radius: 50%;
        }
        &::before {
            left: $marvel-heart-icon-alignment;
            bottom: 0;
        }
        &::after {
            top: $marvel-heart-icon-alignment;
            right: 0;
        }
    } 
    &__thumbnail {
        width: 100%;
        max-height: 330px;
        object-fit: cover;
        object-position: top;
        display: block;
    }
    &__name,
    &__desc {
        display: block;
        width: 100%;
        color: $white-color;
    }
    &__flexible-container {
        flex-grow: 1;
    }
    &__name {
        font-weight: bold;
        margin-bottom: 12px;
        max-width: 260px;
    }
    &__desc {
        margin-bottom: 16px;
        &.hide-text {
            width: 220px; 
            text-overflow: ellipsis; 
            white-space: nowrap;
            overflow: hidden;
            @media screen and (min-width: 576px) {
                width: 190px; 
            }            
            @media screen and (min-width: 768px) {
                width: 270px; 
            }
            @media screen and (min-width: 1024px) {
                width: 200px; 
            }
            @media screen and (min-width: 1516px) {
                width: 370px; 
            }
        }
    }
    &__details-button {
        text-decoration: none;
        background-color: $white-color;
        color: $primary-brand-color;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 14px;
        transition: all ease-in-out 0.3s;
        &:hover {
            background-color: $tertiary-brand-color;
            color: $white-color;
        }
        &:active { 
            transform: scale(0.9);
        }
    }
}