.hamburger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    padding: 0;
    margin: 20px;
}

.hamburger-box {
    width: 52px;
    height: 52px;
    background-color: $primary-brand-color;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgba($primary-brand-color, 0.2);
}

.hamburger-inner {
    width: 28px;
    height: 3px;
    background-color: $white-color !important;
    &::before, 
    &::after {
        background-color: $white-color !important;
        width: 28px;
        height: 3px;
    }
}

.hamburger.is-active .hamburger-inner {
    &::before, 
    &::after {
        background-color: $white-color;
    }
}

.hamburger--collapse .hamburger-inner {
    bottom: 14px;
}

.main-navigation {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 100;
    background-color: $secondary-brand-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 40px 0;
    transition: all ease-in-out 0.3s;
    &.show {
        left: 0;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 35% 30px;
    }
    &__sub-menu {
        padding: 16px 0 16px 30px;
    }
    &__item, 
    &__subitem {
        list-style: none;
    }
    &__item {
        margin-bottom: 16px;
        & a {
            text-decoration: none;
            color: $white-color;
            cursor: pointer;
        }
    }
    &__subitem {
        margin-bottom: 12px;
        & a {
            text-decoration: none;
            color: $white-color;
            cursor: pointer;
        }
    }
    &__logo {
        width: 100px;
    }
}
