.home-section {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $primary-brand-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $white-color;
    &__logo {
        max-width: 300px;
        pointer-events: none;
        @media screen and (min-width: 1200px) {
            & {
                max-width: 450px;
            }   
        }
    }
}