.marvel-data-to-render-container,
.infinite-scroll-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.infinite-scroll-limit-data-text {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    padding: 10px 40px;
    background-color: $feedback-alert-color;
}